
<div class="container">
    
      <div class="row">
        <h2 style="text-align:center">Login</h2>
        
  
        
  
        <div class="col" style="float:initial;text-align: center;">
          
  
          <input type="text" id="usr" name="username" [(ngModel)]="username" placeholder="Username">
          <input type="password" id="pwd" name="password" [(ngModel)]="password" placeholder="Password">
          <button  style="color: gainsboro;background-color: green;width: 200px;margin: 10px;height: 30px;border: 6px;cursor: pointer;" (click)="onLoginClick()">Login</button>
        </div>
        
      </div>
    
  </div>
  
  
  